/* BOXES CLASSES */
.arrowBox {
    width: 200px;
    height: 30px;
    background-color: black !important;
    position: fixed;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 22px;
    color: white !important;
    text-align: center;
}

.arrowBox:after {
    content: ' ';
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-left: 10px sold #ffc728;
    border-bottom: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -10px;
}



.bar {
    height: 80px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
}

.back-arrow {
    padding-left: 5rem;
    padding-top: 1.5rem;
    color: white !important;
}

.search {
    float: right;
    padding-right: 4rem;
    padding-top: 1.5rem;
    color: white !important;
}

.chat-screen {
    margin-top: 12rem;
    padding: 60px 16px 0 16px;
}

h2 {
    font-size: 25px;
    font-family: 'noto-sans-regular.ttf';
}

